UseProxy: false
HttpProxy: http://127.0.0.1:10809
EveryTime: 12h
Threads: 4
SubTypePriority: 0
DebugMode: true
SaveMultiSub: true
PlexConfig: false
RunAtStartup: true
MovieFolder: /media/电影
SeriesFolder: /media/连续剧
